.type--A {
    --menu-link-active-color: var(--color-a);
}

.type--B {
    --menu-link-active-color: var(--color-b);
}

.type--C {
    --menu-link-active-color: var(--color-c);
}

.type--D {
    --menu-link-active-color: var(--color-d);
}

.type--E {
    --menu-link-active-color: var(--color-e);
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    background-color: var(--darkgrey-color);
    font-size: 1rem;
    letter-spacing: 7px;
    padding: 0.5rem;
    width: 14rem;
}

h3{
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--grey-color);
    margin: 0;
    padding: 0 0 4rem 0;
}

ul {
    padding: 1rem;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    margin: 1rem 0;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-icon {
    font-size: 2rem;
    color: var(--grey-color);
    cursor: pointer;
    transition: 0.3s;
}

.navbar-icon:hover {
    color: var(--menu-link-active-color);
}

.menu-hover-fill {
    li {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: -1rem;
            width: 0.25rem;
            height: 100%;
            background: var(--menu-link-active-color);
            transition: 0.6s;
        }

        a {
            --menu-link-color: var(--grey-color);
            position: relative;
            background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transition: background-size 0.45s 0.04s;

            &::before {
                position: absolute;
                content: attr(data-text);
                z-index: 999;
                color: var(--menu-link-color);
            }
        }

        &:hover {
            &::before {
                left: calc(100% + 1rem);
            }

            a {
                background-size: 100%;
            }
        }
    }
}

#navbar-toggle {
    position: fixed;
    top: 2rem;
    left: 0;
    padding: 0.8rem 1rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--darkgrey-color);
    cursor: pointer;
    border: none;
    border-radius: 0 1rem 1rem 0;
}

.navbar-hide {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}