.type--A {
    --accent_color: var(--color-b);
}

.type--B {
    --accent_color: var(--color-c);
}

.type--C {
    --accent_color: var(--color-d);
}

.type--D {
    --accent_color: var(--color-e);
}

.parcours-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.parcours-title {
    margin: 2.4rem 0;
    color: var(--darkgrey-color);
}

.timeline-container {
    max-width: 800px;
}

.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: var(--darkgrey-color);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: var(--darkgrey-color);
        opacity: 0.4;
    }

    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;;

        .timeline-icons {
            position: absolute;
            left: -88px;
            top: 4px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: var(--accent_color);
            color: #fff;

            .timeline-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .timeline-body {
            background: #fff;
            border-radius: 5px;
            padding: 2rem 2rem 1rem 2rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: 0.3s;

            &:before {
                content: '';
                background: inherit;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                left: -10px;
                transform: rotate(45deg);
                border-radius: 0 0 0 2px;
            }

            .timeline-title {
                margin-bottom: 1.4rem;

                .badge {
                    background: var(--accent_color);
                    color: #fff;
                    padding: 4px 8px;
                    border-radius: 5px;
                    font-size: 1.4rem;
                    letter-spacing: 3px;
                }
            }

            .timeline-subtitle {
                font-style: italic;
                opacity: 0.8;
                margin-top: 16px;
                font-size: 11px;
            }
        }

        .timeline-body:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
    }
}

@media (max-width: 1168px) {
    
    .timeline-container {
        max-width: 90%;
    }
}