#about {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80rem;
    margin: 0;
}

.about-title {
    margin: 3rem 0 0 0;
    color: var(--darkgrey-color);
}

.about-left-container {
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-right-container {
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-propos-texte {
    padding: 1rem 6rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.3s;
    overflow: hidden;
    width: 70%;
    text-align: justify;
}

.a-propos-texte h4 {
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--darkgrey-color);
    margin: 0;
    text-align: center;
}

.a-propos-texte a {
    text-decoration: none;
    color: var(--link);
}

.a-propos-texte:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.a-propos-img {
    width: 100%;
    height: 20rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: 1.5px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.a-propos-img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1168px) {
    #about {
        flex-direction: column;
    }

    .about-left-container {
        width: auto;
    }

    .about-right-container {
        width: auto;
    }
}