#competences-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.competences-title {
    margin: 2rem 0;
    color: var(--darkgrey-color);
}

.comp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1250px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
