:root {
    --card-img-height: 200px;
}

.type--A {
    --accent_color: var(--color-b);
}

.type--B {
    --accent_color: var(--color-c);
}

.type--C {
    --accent_color: var(--color-d);
}

.type--D {
    --accent_color: var(--color-e);
}

.card {
    align-self: flex-start;
    position: relative;
    width: 425px;
    min-width: 275px;
    min-height: 415px;
    margin: 1.25rem 0.75rem;
    background: white;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;

    .card-img {
        visibility: hidden;
        width: 100%;
        height: var(--card-img-height);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .card-img-hovered {
        --card-img-hovered-overlay: linear-gradient(to bottom,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0));
        transition: all 350ms ease-in-out;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        position: absolute;
        height: var(--card-img-height);
        top: 0;
        border-radius: 10px;
    }

    .card-info {
        position: relative;
        padding: 0.75rem 1.25rem;
        transition: all 200ms ease-in-out;

        .card-about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 0;
            transition: all 200ms ease-in-out;
        }

        .card-title {
            z-index: 10;
            font-size: 1.5rem;
            padding-bottom: 0.75rem;
            transition: all 350ms ease-in-out;
        }

        .card-creator {
            padding-bottom: 0.75rem;
            transition: all 250ms ease-in-out;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
            0px 5px 15px rgba(0, 0, 0, 0.07);
        transform: scale(1.025);

        .card-img-hovered {
            --card-img-hovered-overlay: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0.65));
            height: 100%;
        }

        .card-about {
            opacity: 0;
        }

        .card-info {
            background-color: transparent;
        }

        .card-title {
            color: #ebecf0;
            transform: translate(0, 40px);
        }
    }
}

.card-tag {
    min-width: 60px;
    max-width: 100px;
    padding: 0.2rem 0.5rem;
    margin-right: 1rem;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--accent_color);
    color: #fff;
}

.card-chatjsuispt {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/chatjsuispt.png");
    }
}
.card-blackholebot {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/blackholebot.png");
    }
}
.card-hardis {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/hardis.png");
    }
}
.card-hopack {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/hopack.png");
    }
}
.card-intemporal {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/intemporal.png");
    }
}

.card-gadi {
    .card-img,
    .card-img-hovered {
        background-image: url("../../../public/img/projets/gadi.png");
    }
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-popup {
    width: 60%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    z-index: 2001;
    transition: all 300ms ease-in-out;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

.project-popup .card-title {
    margin: 1rem;
}

.popup-close {
    margin: 1rem;
    cursor: pointer;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-a);
}

.popup-space {
    padding: 1.5rem;
}

.popup-body {
    padding: 1rem;
    width: 50%;
}

.popup-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 1rem 0;
}

.popup-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-desc {
    width: 100%;
    padding: 2rem 0rem;
}

.popup-keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.popup-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.popup-keyword {
    padding: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}