* {
  scroll-behavior: smooth;

  --color-a: #e4e7a2;
  --color-b: #e1b1c5;
  --color-c: #a9afdb;
  --color-d: #8fcca4;
  --color-e: #e3bd94;

  --grey-color: #e6e9e9;
  --darkgrey-color: #2a333b;
  --link: #495fdd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}